/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

header {
  margin-left: 70px;
  margin-right: 70px;
  height: 92px;
  display: grid;
  grid-template-columns: 45% 10% 45%;
  align-items: center;
  justify-items: center;
}


.logo {
  height: 60px;
}

.menu-icon {
  height: 17px;
  margin-left: 15px;
}

.menu-item-shop, .menu-item-collections {
  margin-right: 100px;
}

.grid-cell-left {
  justify-self: start;
}

.grid-cell-right {
  justify-self: end;
}

button {
  width: 204px;
  height: 48px;
  background-color: black;
  color: white;
  border: none;
  outline: none;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
}

a {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  color: black;
  font-size: 13px;
  font-weight: 600;
}

p {
  font-family: 'Oswald', sans-serif;
  color: black;
  color: black;
  font-weight: 500;
  font-size: 20px;
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 60px;
  color: black;
  margin-bottom: 0;
}


.banner {
  height: calc(100vh - 92px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(/img/banner.jpg);
  background-size: cover;
}

.banner-button {
  position: relative;
  top: 150px;
}


.specials {
  height: 100vh;
  display: grid;
  grid-template-columns: 30% 70%;
  align-items: center;
  justify-items: center;
}

.specials-button {
  margin-top: 70px;
}

.specials-div {
  margin-left: 70px;
}


.collections {
  height: 100vh;
  display: grid;
  grid-template-columns: 40% 40% 20%;
  align-items: center;
  justify-items: center;
}

.center {
  margin-left: 50px;
}

.carousel {
  margin: 20px;
}

.carousel__view {
  width: calc((200px*4) + 22px);
  height: 300px;
  background: white;
  box-shadow: 0 1px 8px #888888;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.carousel__control {
  position: absolute;
  z-index: 1;
  height: 300px;
  width: 70px;
  background-color: rgba(221, 221, 221, 0.5);
  transition: background-color .3s;
  display: table;
}

.carousel__control .icon {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.carousel__control:hover {
  background-color: rgba(221, 221, 221, 0.8);
}

.carousel__control:first-of-type {
  left: 0;
}

.carousel__control:last-of-type {
  right: 0;
}

.product-list {
  position: absolute;
  margin: 0;
  padding: 0;
  transition: transform .3s;
  transform: translateX(0px);
  list-style: none;
  height: 300px;
}

.product-list__item {
  width: 200px;
  height: 300px;
  display: inline-block;
}

.product {
  display: table;
  height: 100%;
  width: 100%;
}

.product span {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: white;
  font-size: 50px;
}

.product[data-slide="1"] {
  background-color: blue;
}

.product[data-slide="2"] {
  background-color: green;
}

.product[data-slide="3"] {
  background-color: yellow;
}

.product[data-slide="4"] {
  background-color: orange;
}

.product[data-slide="5"] {
  background-color: red;
}

.product[data-slide="6"] {
  background-color: pink;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}




